/* CSS for app */

.background{
	-fx-background-color: DODGERBLUE;
}

.header {
    -fx-background-color: #eee;
}

.subtitulo {
    -fx-font-size: 15.0px;
    -fx-font-weight: bold;
}

.card {
    -fx-background-color: #eee;
    -fx-background-radius: 5.0;
    -fx-padding: 12.0;
    -fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.1), 5.0, 0.0, 0.0, 2.0);
}

.titulo-card {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.fecha {
    -fx-text-fill: #555;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.login-background {
    -fx-background-color: linear-gradient(to bottom, #ff851f, #ffb347);
}

.login-box {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-padding: 5 10 5 10;
}

.btn-primary {
    -fx-background-color: #ff851f;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.btn-primary:hover {
    -fx-background-color: #e67300;
}

.btn-secondary {
    -fx-background-color: #dddddd;
    -fx-background-radius: 8;
}

.btn-secondary:hover {
    -fx-background-color: #cccccc;
}

/* Errores: */
.text-field:error, .password-field:error, .date-picker:error, .combo-box:error{
    -fx-border-color: red;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

/* Formulario: */
.formulario {
    -fx-background-color: #eee;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
}
